<template>
    <footer>
      <address><img src="@/assets/images/icon-map.png" alt="" /> 151 3rd St San Francisco, CA 94103</address>
    </footer>
</template>
<script>
  export default {
    name: 'Footer'
  }
</script>
<style scoped lang="scss">
  footer {
    padding: 10px 0;
    text-align: center;
    color: #FF473A;
  }
</style>