@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


#app {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}
#container {    
    width: 100%;
    max-width: 380px;
    min-height: 680px;
}
.flex {
    display: flex;
    flex-direction: column;
}