<template>
    <div id="container" v-bind:class="(this.getShowMenu) ? 'open-menu' : 'closed-menu'">
        <Header />   
        <section class="content">            
            <img class="bg" src="@/assets/images/bg-home.png" alt="">
            <h1>Hi, William</h1>
            <div class="price">$ 1.700,40</div>
            <div class="buttons">
                <router-link to="/deposit" class="btn btn-link">Deposit</router-link> 
                <router-link to="/withdraw" class="btn btn-link">Withdraw</router-link>
                <router-link to="/transfer" class="btn btn-link">Transfer</router-link> 
            </div>
            <div class="search-gray">
                <img src="@/assets/images/icon-search-gray.png" alt="" />
                <input type="text" placeholder="Search" />
            </div>
            <History />
        </section>
        <Footer />
    </div>
</template>
<script>
    import { mapGetters } from "vuex";
    import Header from './partials/Header.vue'
    import Footer from './partials/Footer.vue'
    import History from './partials/History.vue'
    export default {
        name: 'Home',
        computed: {
            ...mapGetters([
                'getShowMenu'
            ])
        },
        components: {
            Header,
            Footer,
            History
        }
    }
</script>
<style scoped lang="scss">
    .content {
        .bg {
            margin-bottom: 60px;
        }
        h1 {
            margin-bottom: 10px;
        }
        .price {
            color:#FF473A;
            font-size:18px;
        }
        .buttons {
            display: flex;
            margin-top: 20px;
            margin-left: -10px;
            margin-right:-10px;
            a {
                margin: 0 5px;
            }
        }  
        .search-gray {
            background:#E2E2E2;
            height:42px;
            border-radius: 20px;
            input {
                font-size:14px;
                font-weight: bold;
                color:#626262;
            }
        }      
    }
</style>