<template>
    <div id="container" v-bind:class="(this.getShowMenu) ? 'open-menu' : 'closed-menu'">
        <Header />   
        <section class="content">            
          <img src="@/assets/images/bg-home.png" alt="">
        </section>
        <Footer />
    </div>
</template>
<script>
    import { mapGetters } from "vuex";
    import Header from './partials/Header.vue'
    import Footer from './partials/Footer.vue'
    export default {
        name: 'Home',
        computed: {
            ...mapGetters([
                'getShowMenu'
            ])
        },
        components: {
            Header,
            Footer
        }
    }
</script>