<template>
    <div id="container" v-bind:class="(this.getShowMenu) ? 'open-menu' : 'closed-menu'">
        <Header />   
        <section class="content">            
            <img src="@/assets/images/bg-home.png" alt="">
            <h1>Hi, William</h1>
            <div class="price">$ 1.700,40</div>
            <div class="buttons">
                <router-link to="/deposit" class="btn btn-link">Deposit</router-link> 
                <router-link to="/withdraw" class="btn btn-link">Withdraw</router-link>
                <router-link to="/transfer" class="btn btn-link">Transfer</router-link> 
            </div>
        </section>
        <Footer />
    </div>
</template>
<script>
    import { mapGetters } from "vuex";
    import Header from './partials/Header.vue'
    import Footer from './partials/Footer.vue'
    export default {
        name: 'Home',
        computed: {
            ...mapGetters([
                'getShowMenu'
            ])
        },
        components: {
            Header,
            Footer
        }
    }
</script>