<template>
    <div id="container" v-bind:class="(this.getShowMenu) ? 'open-menu' : 'closed-menu'">
        <Header />   
        <section class="login bg-login">            
          <h1>asd</h1>
          <p>Stay on top of your finances on the go.</p>
          <form action="" class="flex form-login">
              <input type="text" class="form-control" placeholder="E-mail address">
              <input type="password" class="form-control" placeholder="Password">
              <a href="#" class="link-forgot text-right">Forgot your password</a>
              <router-link to="/home" class="btn btn-link">Log in</router-link>
              <a href="#" class="link-forgot text-left">Don’t have an account?</a>
          </form>
        </section>
        <Footer />
    </div>
</template>
<script>
    import { mapGetters } from "vuex";
    import Header from './partials/Header.vue'
    import Footer from './partials/Footer.vue'
    export default {
        name: 'Login',
        computed: {
            ...mapGetters([
                'getShowMenu'
            ])
        },
        components: {
            Header,
            Footer
        }
    }
</script>