<template>
    <div id="container">
        <img alt="Vue logo" src="./assets/logo.png" />
        <HelloWorld msg="Welcome to Your Vue.js App"/>
    </div>
</template>    

<script>
  import HelloWorld from './components/HelloWorld.vue'


  export default {
    name: 'Home',
    components: {
      HelloWorld
    }
  }
</script>


<style lang="scss">
    .teste {
        .t {
            height:40px;
        }
    }
</style>