<template>
    <div id="container">
        <section class="login bg-login">            
          <h1>WELCOME</h1>

        </section>

        <router-link to="/transfer" class="brn btn-link">Login</router-link>


        <HelloWorld msg="Welcome to Your Vue.js App"/>
    </div>
</template>    

<script>
  import HelloWorld from '../components/HelloWorld.vue'


  export default {
    name: 'Login',
    components: {
      HelloWorld
    }
  }
</script>


<style lang="scss">
    .login {
      display: flex;
      align-items: center;
      &.bg-login {
        background-image: url(../assets/images/bg-login.png);
      }
    }
</style>