<template>
    <div id="container">
        <img alt="Vue logo" src="../assets/logo.png" />
        <router-link to="/transfer" class="brn btn-link">Transfer</router-link>


        <HelloWorld msg="Welcome to Your Vue.js App"/>
    </div>
</template>    

<script>
  import HelloWorld from '../components/HelloWorld.vue'


  export default {
    name: 'Login',
    components: {
      HelloWorld
    }
  }
</script>


<style lang="scss">
    .teste {
        .t {
            height:40px;
        }
    }
</style>