<template>
    <div id="container">
        <section class="login bg-login">            
          <h1>WELCOME</h1>
          <p>Stay on top of your finances on the go.</p>
          <form action="" class="flex form-login">
              <input type="text" class="form-control" placeholder="E-mail address">
              <input type="password" class="form-control" placeholder="Password">
              <a href="#" class="link-forgot">Forgot your password</a>
              <router-link to="/home" class="btn btn-link">Log in</router-link>
          </form>
        </section>
    </div>
</template>    

<script>
  export default {
    name: 'Login'
  }
</script>


<style lang="scss">
    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p,
      h1 {
        color:#fff;
      }
      &.bg-login {
        height: 100%;
        background-image: url(../assets/images/bg-login.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
      .form-login {
        width: 270px;
        .btn-login {
          margin-top: 15px;
        }
      }
    }
</style>