<template>
    <div id="container">
        <router-link to="/transfer" class="brn btn-link">Transfer</router-link>


        <HelloWorld msg="Welcome to Your Vue.js App"/>
    </div>
</template>    

<script>
  import HelloWorld from '../components/HelloWorld.vue'


  export default {
    name: 'Login',
    components: {
      HelloWorld
    }
  }
</script>


<style lang="scss">
    #container {

    }
</style>