<template>
    <div id="container">
        <section class="login bg-login">            
          <h1>WELCOME</h1>
          <router-link to="/transfer" class="brn btn-link">Login</router-link>
        </section>

        

    </div>
</template>    

<script>
  export default {
    name: 'Login'
  }
</script>


<style lang="scss">
    .login {
      display: flex;
      align-items: center;
      &.bg-login {
        background-image: url(../assets/images/bg-login.png);
      }
    }
</style>