<template>
    <div id="container">
        <section class="login bg-login">            
          <h1>WELCOME</h1>
          <form action="">

          </form>
          <router-link to="/transfer" class="brn btn-link">Login</router-link>
        </section>

        

    </div>
</template>    

<script>
  export default {
    name: 'Login'
  }
</script>


<style lang="scss">
    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color:#fff;
      }
      &.bg-login {
        height: 100%;
        background-image: url(../assets/images/bg-login.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
</style>