<template>
    <div id="container" class="page-tranfer">
      <Header />
      <h1>Transfer</h1>
      <div class="btn select"><span class="icon-transfer"><img src="@/assets/images/icon-transfer.png" alt=""></span>Send to Richard <span><img src="@/assets/images/arrow-down-white.png" alt=""></span></div>
      <div class="details-transaction">
          <p class="available">Available: $1.700</p>
          <div class="box">
            <div class="type-currency">
              <img src="@/assets/images/icon-circle-eua.png" class="icon-brand" alt="" />
              USD
            </div>
            <div class="form-group">
              <p>You send</p>              
              <input type="text" class="field-price" value="1.000,00" />
            </div>
            <div class="click-max">MÁX</div>
          </div>
          <div class="box">
            <div class="type-currency">
              <img src="@/assets/images/circle-england.png" class="icon-brand" alt="" />
              GBP
              <img src="@/assets/images/arrow-down-orange.png" class="icon-set" alt="" />
            </div>
            <div class="form-group">
              <p>Recipient</p>              
              <input type="text" class="field-price" value="1.296,05" />
            </div>
          </div>
          <div class="box">
            <h3>Details</h3>
            <div class="text-details">
              <p>Trade Exchange <span class="info">i</span></p>
              <div class="price">$ 0,76</div>
            </div>
          </div>
      </div>
      <Footer />
    </div>
</template>    

<script>
  import Header from './partials/Header.vue'
  import Footer from './partials/Footer.vue'
  export default {
    name: 'Transfer',
    components: {
        Header,
        Footer
    }
  }
</script>
<style lang="scss">
  .btn.select {
    display: flex;
    justify-content: space-around;
    .icon-transfer {
      margin-top: 6px;
    }
  }
  .page-tranfer {
    h1 {
      text-align: center;
    }
  }
  .details-transaction {
    border-radius: 20px;
    background: #eea3a3;
    padding: 20px;
    margin-top: 30px;
    .available {
      font-size: 11px;
      color: #ffffff;
      margin: 0;
      text-align: right;
    }
    .box {
      background: #ffffff;
      border-radius: 5px;
      display: flex;
      padding: 10px;
      align-items: center;
      margin-bottom: 20px;
      .type-currency {
        width: 26%;
        border-right: 1px solid #939393;
        font-weight: bold;
        display: flex;
        font-size: 14px;

        .icon-brand {
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
        .icon-set {
          width: 14px;
          height: 9px;
          margin-left: 5px;
          margin-top: 5px;
        }
      }
      .form-group {
          padding: 0 5px;
          width: 56%;
        p {
          font-size: 11px;
          margin: 0;
        }
        .field-price {
          color:#000000;
          font-size: 14px;
          background: transparent;
          border:0;
          font-weight: bold;
        }
      }
      .click-max {
        color:#FF473A;
        font-size: 12px;
        font-weight: bold;
        cursor:pointer;
      }
    }
  }
</style>