<template>
    <div id="container">
      <h1>Transfer</h1>
      <div class="btn select"><span><img src="@/assets/images/icon-transfer.png" alt=""></span>Send to Richard <span><img src="" alt=""></span></div>
    </div>
</template>    

<script>
  export default {
    name: 'Transfer'
  }
</script>


<style lang="scss">

</style>