<template>
    <div id="container">
    </div>
</template>    

<script>
  export default {
    name: 'Transfer'
  }
</script>


<style lang="scss">
    .teste {
        .t {
            height:40px;
        }
    }
</style>