<template>
    <div id="container" class="page-tranfer">
      <h1>Transfer</h1>
      <div class="btn select"><span class="icon-transfer"><img src="@/assets/images/icon-transfer.png" alt=""></span>Send to Richard <span><img src="@/assets/images/arrow-down-white.png" alt=""></span></div>
    </div>
</template>    

<script>
  export default {
    name: 'Transfer'
  }
</script>


<style lang="scss">
  .btn.select {
    display: flex;
    justify-content: space-around;
    .icon-transfer {
      margin-top: 10px;
    }
  }
  .page-tranfer {

    h1 {
      text-align: center;
    }
  }
</style>