<template>
    <div id="container" class="page-tranfer">
      <Header />
      <h1>Transfer</h1>
      <div class="btn select"><span class="icon-transfer"><img src="@/assets/images/icon-transfer.png" alt=""></span>Send to Richard <span><img src="@/assets/images/arrow-down-white.png" alt=""></span></div>
      <div class="details-transaction">

      </div>
      <Footer />
    </div>
</template>    

<script>
  import Header from './partials/Header.vue'
  import Footer from './partials/Footer.vue'
  export default {
    name: 'Transfer',
    components: {
        Header,
        Footer
    }
  }
</script>


<style lang="scss">
  .btn.select {
    display: flex;
    justify-content: space-around;
    .icon-transfer {
      margin-top: 6px;
    }
  }
  .page-tranfer {
    h1 {
      text-align: center;
    }
  }
</style>