<template>
    <div id="container" class="page-tranfer">
      <Header />
      <h1>Transfer</h1>
      <div class="btn select"><span class="icon-transfer"><img src="@/assets/images/icon-transfer.png" alt=""></span>Send to Richard <span><img src="@/assets/images/arrow-down-white.png" alt=""></span></div>
      <div class="details-transaction">
          <p class="available">Available: $1.700</p>
          <div class="box send">
            <div class="type-currency">
              <img src="@/assets/images/icon-transfer.png" alt="" />
              USD
            </div>
            <div class="form-group">
              <p>You send</p>              
              <input type="text" class="field-price" value="1.000,00" />
              <div class="click-max">MÁX</div>
            </div>
          </div>
      </div>
      <Footer />
    </div>
</template>    

<script>
  import Header from './partials/Header.vue'
  import Footer from './partials/Footer.vue'
  export default {
    name: 'Transfer',
    components: {
        Header,
        Footer
    }
  }
</script>
<style lang="scss">
  .btn.select {
    display: flex;
    justify-content: space-around;
    .icon-transfer {
      margin-top: 6px;
    }
  }
  .page-tranfer {
    h1 {
      text-align: center;
    }
  }
  .details-transaction {
    border-radius: 20px;
    background: #E14C4C;
    .available {
      font-size: 11px;
      color: #ffffff;
    }
    .box {
      background: #ffffff;
      border-radius: 5px;
      display: flex;
      padding: 10px;
      .type-currency {
        width: 35%;
        border-right:1px solid #939393;
      }
      .form-group {
        p {
          font-size: 11px;
        }
        .field-price {
          color:#000000;
          font-size: 14px;
        }
      }
    }
  }
</style>