<template>
    <div id="history">
        <h1>History</h1>
        <ul class="list">
            <li 
            v-for="(item, k) in getHistories"
            :key="k">
                <img :src="`@/assets/images/icon-circle-eua.png`" alt="" />
                <div class="cc">
                    <h1  v-bind:class="(item.type === 'positive') ? 'text-green' : 'text-red'">{{item.type_text}}</h1>
                    <p class="name">{{item.name}}</p>
                    <p class="value">{{item.value}}</p>
                </div>
                <div class="date">
                    <p>{{item.date}}</p>
                    <img src="@/assets/images/icon-time.png" alt="">
                </div>
            </li>    
        </ul>
    </div>
</template>    

<script>
  import { mapGetters } from "vuex";
  export default {
    name: 'History',
    computed: {
        ...mapGetters([
            "getHistories"
        ])
    }
  }
</script>
<style scoped lang="scss">
    .list {
        li {
            display: flex;
        }
    }
</style>