<template>
    <div id="history">
        <h1>History</h1>
        <ul>
            <li 
            v-for="(s, i) in getHistories"
            :key="i">

            </li>    
        </ul>
    </div>
</template>    

<script>
  export default {
    name: 'History',
    computed: {
        ...mapGetters([
            "getHistories"
        ])
    }
  }
</script>