<template>
    <div id="history">
        <h1>History</h1>
        <ul>
            <li 
            v-for="(item, k) in getHistories"
            :key="k">
                <img :src="item.image" alt="" />
                <div class="cc">
                    <h1  v-bind:class="(item.type === 'positive') ? 'text-green' : 'text-red'">{{item.type_text}}</h1>
                    <p class="name">{{item.name}}</p>
                    <p class="value">{{item.value}}</p>
                </div>
                <div class="date"></div>
            </li>    
        </ul>
    </div>
</template>    

<script>
  import { mapGetters } from "vuex";
  export default {
    name: 'History',
    computed: {
        ...mapGetters([
            "getHistories"
        ])
    }
  }
</script>