<template>
    <div id="history">
        <h1>History</h1>
        <ul class="list">
            <li 
            v-for="(item, k) in getHistories"
            :key="k">
                <img src="@/assets/images/icon-circle-eua.png" alt="" />
                <div class="cc">
                    <h1  v-bind:class="(item.type === 'positive') ? 'text-green' : 'text-red'">{{item.type_text}}</h1>
                    <p class="name">{{item.name}}</p>
                    <p class="value">{{item.value}}</p>
                </div>
                <div class="date">
                    <p>{{item.date}}</p>
                    <img src="@/assets/images/icon-time.png" alt="">
                </div>
            </li>    
        </ul>
    </div>
</template>    

<script>
  import { mapGetters } from "vuex";
  export default {
    name: 'History',
    computed: {
        ...mapGetters([
            "getHistories"
        ])
    }
  }
</script>
<style scoped lang="scss">
    .list {
        height: 215px;
        overflow-y: scroll;
        padding-right: 10px;
        li {
            display: flex;
            justify-content: space-between;
            img {
                width: 16px;
                height: 16px;
                margin-right: 10px;
            }
            .cc {
                width: 60%;
                h1 {
                    font-size:14px;
                    margin-top: 0;
                }
                .name {
                    font-size:10px;
                }
                .value {
                    font-size:12px;
                    font-weight: bold;
                }
            }
            .date {
                width: 34%;
                display: flex;
                margin-top: 0;
                justify-content: flex-end;
                p {
                    font-size:13px;
                    margin-top: 0;
                }
                img {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
</style>