<template>
    <footer>
      <address><img src="" alt="" /> 151 3rd St San Francisco, CA 94103</address>
    </footer>
</template>
<script>
  export default {
    name: 'Footer'
  }
</script>
<style scoped lang="scss">

</style>