<template>
    <header>
        <div id="menu" v-show="this.showMenu">Teste</div>
        <img src="@/assets/images/logo-the-bank.png" alt="" />
        <img @click="this.toogleMenu()" src="@/assets/images/icon-user.png" alt="" />
    </header>
</template>
<script>
  export default {
    name: 'Header',
    data() {
        return {
            showMenu:false,
        }
    },
    methods: {
        toogleMenu: function () {
            this.showMenu = true;
        }
    }
  }
</script>
<style lang="scss" scoped>
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
</style>