<template>
    <header>
        <div id="menu" v-show="this.showMenu">
            <div class="search">
                <img src="@/assets/images/icon-search.png" alt="">
                <Autocomplete :items="['Account', 'Transfer', 'Deposit', 'Withdraw']" />
            </div>
        </div>
        <img src="@/assets/images/logo-the-bank.png" alt="" />
        <img @click="toogleMenu()" src="@/assets/images/icon-menu.png" alt="" />
    </header>
</template>
<script>
    import { mapGetters } from "vuex";
    import Autocomplete from '../../components/Autocomplete.vue'
    export default {
        name: 'Header',
        data() {
            return {
                showMenu:false,
            }
        },
        computed: {
            ...mapGetters(["getLinksMenu"]),
        },
        components: {
            Autocomplete
        },
        methods: {
            toogleMenu: function () {
                this.showMenu = true;
            }
        },
        created: function() {            
            console.log('teste');
        }
    }
</script>
<style lang="scss" scoped>
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        position: relative;
    }
    #menu {
        width: 80%;
        padding: 20px;
        background:#FF473A;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>