<template>
    <header>
        <img src="@/assets/images/logo-the-bank.png" alt="" />
        <img v-click="toogleMenu()" src="@/assets/images/icon-user.png" alt="" />
    </header>
</template>
<script>
  export default {
    name: 'Header',
    data() {
        return {
            tab:null,
            dataType: null
        }
    },
    methods: {
        toogleMenu: () => {
            this.openMenu = true;            
        }
    }
  }
</script>
<style lang="scss" scoped>
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
</style>