<template>
    <header>
        <img src="@/assets/images/logo-the-bank.png" alt="" />
        <img src="@/assets/images/icon-user.png" alt="" />
    </header>
</template>
<script>
  export default {
    name: 'Header'
  }
</script>
<style lang="scss" scoped>

</style>